<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="base::navlinks"></div><br/><br/><br/>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://www.google.com/search?q=alexandria+city&rlz=1C1CHBD_enUS848US848&sxsrf=ACYBGNShqXUPDMlHHd1_cbbWGuQLaPNXhw:1570737555056&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjoiISwvZLlAhUuh-AKHayxA2QQ_AUIEigB#" alt="Card image cap" />
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">MAYOR & CITY COUNCIL
                The Alexandria City Council is composed of a Mayor and six Council members who are elected at-large for three-year terms. The Mayor, who is chosen on a separate ballot, presides over meetings of the Council and serves as the ceremonial head of government. Council members traditionally choose the person receiving the most votes in the election to serve as Vice Mayor. The Council's functions include, but are not limited to: reviewing and approving the annual budget; establishing long and short-term objectives & priorities for the City; establishing tax rates and borrowing funds; passing ordinances and resolutions; responding to constituent needs and complaints; and representing the community.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">CITY ATTORNEY
                The City Attorney is appointed by the City Council and is the legal advisor to the City Council, City Manager, and all departments, boards, commissions, and agencies of the City. The City Attorney renders opinions, on request; is responsible for drafting ordinances, deeds, affidavits, bonds, leases, and other legal papers; represents the City as counsel in civil cases; and institutes and prosecutes legal proceedings on behalf of the City.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">CODE ADMINISTRATION
                The Department of Code Administration works in partnership with our customers (residents, architects, engineers, contractors, developers, business and building owners) as part of a team dedicated to ensuring the safety of our built environment. Our objective is to work in concert with our customers to administer the provisions of the Virginia Uniform Statewide Building Codes (USBC) including the Virginia Construction Code, the Virginia Rehabilitation Code and the Virginia Maintenance code. In addition, we are responsible for ensuring compliance with the City Code nuisance and development provisions. We achieve this by providing world class customer service, efficient and timely plan review; consistent inspections, and proactive education and training of our customers on requirements and purpose of the code.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
</body>
</html>