<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Message Form</h1>
<form action="#" th:action="@{/process}" th:object="${message}" method="post">
    <input type="hidden" th:field="*{id}" />

    Comments :<label>
    <textarea rows="5" th:field="*{content}"></textarea>
</label>
    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span><br /><br />

    Posted date: <label>
    <input type="date" th:field="*{posteddate}" />
</label>
    <span th:if="${#fields.hasErrors('posteddate')}" th:errors="*{posteddate}"></span><br /><br />

    Posted by: <input type="text" th:field="*{postedby}" />
    <span th:if="${#fields.hasErrors('postedby')}" th:errors="*{postedby}"></span><br /><br />

    <input type="submit" value="Submit" />
</form>
</body>
</html>